.companies {
	max-width: 100%;
	overflow: hidden;
	background-color: $darkBg;
}

.companies__header {
    display: flex;
    align-items: center;
    padding: $space-xs;
}

.companies__header__logo {
    width: 36px;
    height: 36px;
    margin-right: $space-s;
}

.companies__title {
    margin: 0;
    color: $lightestColor;
    font-weight: normal;
    font-size: 1.4rem;
}

.companies__navigation {
    margin-left: auto;
}

.companies__navigation__btn {
    background-color: $lightBg;
}

.companies__list {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(10, 100%);

    @media ($tablet) {
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: 100%;
        grid-auto-flow: column;
        //grid-template-columns: repeat(auto-fill, calc(100% / 2));
        grid-template-columns: repeat(5, calc(100% / 2));
        transition: all .5s;
    }

    @media ($desktop) {
        //grid-template-columns: repeat(auto-fill, calc(100% / 3));
        grid-template-columns: repeat(5, calc(100% / 3));
    }
}

.companies__list__element {
    position: relative;
    overflow: hidden;
    border: 1px solid red;
    color: red;
}

$elementHovered: .3s;

.companies__list__element__link {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $fog;
        opacity: 0;
        transition: opacity $elementHovered;
    }

    &:hover {
        .companies__list__element__image {
            transform: translate(-50%, -50%) scale(1.1);
        }

        &::after {
            opacity: 1;
        }
    }
}

.companies__list__element__header {
    position: relative;
    margin-top: auto;
    padding: $space-m $space-m $space-m $space-l;
    width: 100%;
    color: $lightestColor;
    z-index: 1;
}

.companies__list__element__title {
    margin-bottom: $space-xs;
    font-size: 1.4rem;
}

.companies__list__element__text {
    margin: 0;
    font-size: 1.2rem;
}

.companies__list__element__image {
    @include center-both;
    height: 100%;
    max-width: none;
    transition: transform $elementHovered;
}

.companies__footer__progress {
    display: block;
    height: 3px;
    background-color: $secondaryColor;
}

