body {
  max-width: 1280px;
  margin: auto;
  font-family: $mainFont;

  @media($tablet) {
    padding: $space-s;
  }

  @media($desktop) {
    padding: $space-m;
  }
}

/* .u-hiddenWording {
	@include accessible-invisibility;
} */