/**
 * Hides wording while keeping it accessible
 */
@mixin accessible-invisibility {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * centers an element in a relative context
 */
@mixin center-horizontally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}